{
  "schema": {
    "file": "./src/schema.ts",
    "hashesOutput": "./src/schema-hashes.ts"
  },
  "migrations": {
    "dir": "./src/migrations",
    "indexPath": "./src/migrations/index.ts",
    "typesPath": "schema-versioned-storage"
  }
}

